{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main role="main" class="container-xl">
	<div class="content-section">
  	 	<h2>Cambio de contraseña</h2><hr>
		<p>Olvido su contraseña? Ingrese su email y le enviaremos un correo con las instrucciones.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Enviar email</button>
        </form>
  	</div>
{% endblock %}